In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
adult = pd.read_csv("/home/umut/python_calismalar/adult.csv")
adult.head()

,Age,Workclass,fnlgwt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Country,Above/Below 50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              32561 non-null  int64
 1   Workclass        32561 non-null  object
 2   fnlgwt           32561 non-null  int64
 3   Education        32561 non-null  object
 4   Education Num    32561 non-null  int64
 5   Marital Status   32561 non-null  object
 6   Occupation       32561 non-null  object
 7   Relationship     32561 non-null  object
 8   Race             32561 non-null  object
 9   Sex              32561 non-null  object
 10  Capital Gain     32561 non-null  int64
 11  Capital Loss     32561 non-null  int64
 12  Hours/Week       32561 non-null  int64
 13  Country          32561 non-null  object
 14  Above/Below 50k  32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [14]:
print(adult["Marital Status"].describe())
print(adult["Marital Status"].value_counts(normalize=True))

count                   32561
unique                      7
top        Married-civ-spouse
freq                    14976
Name: Marital Status, dtype: object
 Married-civ-spouse       0.459937
 Never-married            0.328092
 Divorced                 0.136452
 Separated                0.031479
 Widowed                  0.030497
 Married-spouse-absent    0.012837
 Married-AF-spouse        0.000706
Name: Marital Status, dtype: float64

In [15]:
# Object veri tipinden categorical veri tipine geçiş.
print(adult["Marital Status"].dtype)
adult["Marital Status"] = adult["Marital Status"].astype("category")
adult["Marital Status"].dtype

object

CategoricalDtype(categories=[' Divorced', ' Married-AF-spouse', ' Married-civ-spouse',
                  ' Married-spouse-absent', ' Never-married', ' Separated',
                  ' Widowed'],
, ordered=False)

In [16]:
# Creating a categorical series in pandas.
my_data = ["A","B","C","A","D","D","C","B","A","B"]
my_series1 = pd.Series(my_data, dtype="category")
my_series1

0    A
1    B
2    C
3    A
4    D
5    D
6    C
7    B
8    A
9    B
dtype: category
Categories (4, object): ['A', 'B', 'C', 'D']

In [17]:
# Creating a ordered categorical series in pandas.
my_series2 = pd.Categorical(my_data, categories=["B","C","A","D"], ordered=True)
my_series2

['A', 'B', 'C', 'A', 'D', 'D', 'C', 'B', 'A', 'B']
Categories (4, object): ['B' < 'C' < 'A' < 'D']

**CATEGORICAL** veri tipi çok az yer kaplar.

In [18]:
adult = pd.read_csv("/home/umut/python_calismalar/adult.csv")

In [21]:
print("Object veri tipindeyken kapladığı alan:",adult["Marital Status"].nbytes)

print("Categorical veri tipindeyken kapladığı alan:",adult["Marital Status"].astype("category").nbytes)

Object veri tipindeyken kapladığı alan: 260488
Categorical veri tipindeyken kapladığı alan: 32617

Bir veriyi çekerken birden çok sütun üzerinde dtype değişimi yapılacaksa aşağıdaki adımların izlenmesi mantıklıdır.

In [23]:
dtype_dict = {"Marital Status" : "category",
              "Education" : "category",
              "Age" : "int64"}

adult = pd.read_csv("/home/umut/python_calismalar/adult.csv", dtype=dtype_dict)
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              32561 non-null  int64
 1   Workclass        32561 non-null  object
 2   fnlgwt           32561 non-null  int64
 3   Education        32561 non-null  category
 4   Education Num    32561 non-null  int64
 5   Marital Status   32561 non-null  category
 6   Occupation       32561 non-null  object
 7   Relationship     32561 non-null  object
 8   Race             32561 non-null  object
 9   Sex              32561 non-null  object
 10  Capital Gain     32561 non-null  int64
 11  Capital Loss     32561 non-null  int64
 12  Hours/Week       32561 non-null  int64
 13  Country          32561 non-null  object
 14  Above/Below 50k  32561 non-null  object
dtypes: category(2), int64(6), object(7)
memory usage: 3.3+ MB

In [25]:
adult.groupby(by="Above/Below 50k")[["Age", "Education Num"]].sum()

                    Age  Education Num
Above/Below 50k
 <=50K           909294         237190
 >50K            346963          91047

In [26]:
adult.groupby(by=["Above/Below 50k", "Marital Status"]).size()

Above/Below 50k  Marital Status
 <=50K            Divorced                  3980
                  Married-AF-spouse           13
                  Married-civ-spouse        8284
                  Married-spouse-absent      384
                  Never-married            10192
                  Separated                  959
                  Widowed                    908
 >50K             Divorced                   463
                  Married-AF-spouse           10
                  Married-civ-spouse        6692
                  Married-spouse-absent       34
                  Never-married              491
                  Separated                   66
                  Widowed                     85
dtype: int64

In [27]:
dogs = pd.read_csv("/home/umut/python_calismalar/ShelterDogs.csv")
dogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2937 entries, 0 to 2936
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2937 non-null   int64
 1   name               2845 non-null   object
 2   age                2937 non-null   float64
 3   sex                2937 non-null   object
 4   breed              2937 non-null   object
 5   date_found         2937 non-null   object
 6   adoptable_from     2937 non-null   object
 7   posted             2937 non-null   object
 8   color              2937 non-null   object
 9   coat               2937 non-null   object
 10  size               2937 non-null   object
 11  neutered           1852 non-null   object
 12  housebroken        460 non-null    object
 13  likes_people       1999 non-null   object
 14  likes_children     1219 non-null   object
 15  get_along_males    1633 non-null   object
 16  get_along_females  1673 non-null   object
 17  get_along_cats     431 non-null    object
 18  keep_in            1916 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 436.1+ KB

In [30]:
dogs["coat"] = dogs["coat"].astype("category")
dogs["coat"].value_counts(dropna=True)

short         1972
medium         565
wirehaired     220
long           180
Name: coat, dtype: int64

In [34]:
dogs["coat"] = dogs["coat"].cat.set_categories(
    new_categories=["short","medium","long"],
    ordered=True
)
dogs["coat"].value_counts(dropna=False) #çıkarttığımız kategoriyi de göstermesini sağladık.

short     1972
medium     565
NaN        220
long       180
Name: coat, dtype: int64

In [49]:
# Kategori silmek.
dogs = pd.read_csv("/home/umut/python_calismalar/ShelterDogs.csv", dtype = {"coat" : "category"})
dogs["coat"] = dogs["coat"].cat.remove_categories(removals=["wirehaired"])
dogs["coat"].cat.categories

Index(['long', 'medium', 'short'], dtype='object')

In [50]:
# Rename category
dogs["breed"] = dogs["breed"].astype("category")
print("degisimden önce\n",dogs["breed"].value_counts())
rename_dict = {"Unknown Mix" : "Unknown"}
dogs["breed"] = dogs["breed"].cat.rename_categories(rename_dict)
print("\ndegisimden sonra\n",dogs["breed"].value_counts())

degisimden önce
 Unknown Mix                                 1524
German Shepherd Dog Mix                      190
Dachshund Mix                                147
Labrador Retriever Mix                        83
Staffordshire Terrier Mix                     62
                                            ...
English Cocker Spaniel, Vizsla Mix             1
English Greyhound Mix                          1
English Greyhound, Spanish Greyhound Mix       1
Fox Terrier, German Shepherd Dog Mix           1
Yorkshire Terrier                              1
Name: breed, Length: 277, dtype: int64

degisimden sonra
 Unknown                                     1524
German Shepherd Dog Mix                      190
Dachshund Mix                                147
Labrador Retriever Mix                        83
Staffordshire Terrier Mix                     62
                                            ...
English Cocker Spaniel, Vizsla Mix             1
English Greyhound Mix                          1
English Greyhound, Spanish Greyhound Mix       1
Fox Terrier, German Shepherd Dog Mix           1
Yorkshire Terrier                              1
Name: breed, Length: 277, dtype: int64

In [53]:
dogs["likes_children"] = dogs["likes_children"].astype("category")
# Use a lambda function to convert all categories to uppercase using upper()
dogs["likes_children"] =  dogs["likes_children"].cat.rename_categories(lambda c: c.upper())

# Print the list of categories
print(dogs["likes_children"].cat.categories)

Index(['NO', 'YES'], dtype='object')

In [56]:
dogs = pd.read_csv("/home/umut/python_calismalar/ShelterDogs.csv", dtype = {"coat" : "category"})

# Create the update_coats dictionary
update_coats = {"wirehaired" : "medium",
                "medium-long": "medium"}

# Create a new column, coat_collapsed
dogs["coat_collapsed"] = dogs["coat"].replace(update_coats)

# Convert the column to categorical
dogs["coat_collapsed"] = dogs["coat_collapsed"].astype("category")

# Print the frequency table
print(dogs["coat_collapsed"].value_counts())

short     1972
medium     785
long       180
Name: coat_collapsed, dtype: int64

## Categorical verilerde yazım hataları gibi sorunlarla başa çıkmak.

In [59]:
dogs = pd.read_csv("/home/umut/python_calismalar/ShelterDogs.csv", dtype = {"coat" : "category"})

dogs["get_along_cats"] = dogs["get_along_cats"].str.strip()
dogs["get_along_cats"] = dogs["get_along_cats"].str.title()

In [62]:
dogs["breed"].str.contains("Shepherd", regex=False)

0       False
1       False
2       False
3       False
4       False
        ...
2932    False
2933    False
2934    False
2935    False
2936     True
Name: breed, Length: 2937, dtype: bool

In [64]:
dogs.loc[dogs["get_along_cats"] == "Yes", "size"].value_counts(sort=False)

small      69
medium    169
large      37
Name: size, dtype: int64

In [65]:
print(dogs[dogs["breed"].str.contains("English", regex=False)].shape[0])

35