# Date

In [3]:
from datetime import date

In [4]:
birthdays = [date(2000,7,27), date(2018,3,6)]

In [5]:
print(birthdays[0].year)
print(birthdays[0].month)
print(birthdays[0].day)

print(birthdays[1].weekday())   # 0 = Monday, 1= Thuesda ...

2000
7
27
1

In [6]:
#MATH WITH DATE.
d1 = date(2000,7,27)
d2 = date(2018,3,6)
dates = [d1, d2]

d2 - d1

datetime.timedelta(days=6431)

In [7]:
from datetime import timedelta

x = timedelta(days=365)
print(d2+x)

2019-03-06

In [8]:
# date to string with isoformat
print(d1.isoformat(),":",type(d1.isoformat()))

2000-07-27 : <class 'str'>

In [9]:
# date to string strf format
print(d1.strftime(format="%d:%m:%Y"), ":", type(d1.strftime(format="%d:%m:%Y")))

print(d1.strftime(format="Year is %Y"))

print(d2.strftime(format="%d-%B-%Y"))

27:07:2000 : <class 'str'>
Year is 2000
06-March-2018

# DATE AND TIME

In [10]:
from datetime import datetime

In [11]:
dt = datetime(year=2018, month=3, day=6, hour=9, minute=45, second=36)
print(dt)

dt_new = dt.replace(year=2019,minute=0, second=0)
print(dt_new)

2018-03-06 09:45:36
2019-03-06 09:00:00

In [12]:
print(dt.strftime("%d-%B-%Y"))
print(dt.strftime("%d-%m-%Y on %H:%M:%S"))

print(dt.isoformat())

06-March-2018
06-03-2018 on 09:45:36
2018-03-06T09:45:36

In [13]:
# strptime

dt2 = datetime.strptime("2000-7-27 6:45:00", "%Y-%m-%d %H:%M:%S")
print(type(dt2), " and ", dt2)

<class 'datetime.datetime'>  and  2000-07-27 06:45:00

In [14]:
ts = 1124214214.0
print(datetime.fromtimestamp(ts))

2005-08-16 20:43:34

In [17]:
# MATH with datetime

start = datetime(2023, 5, 22, 15, 21, 38)
end = datetime(2023, 5, 22, 15, 37, 43)

duration = end - start
duration.total_seconds()

965.0

In [19]:
td = timedelta(minutes=30)
print("starting time : ", start, "finished time : ", (start + td))

starting time :  2023-05-22 15:21:38 finished time :  2023-05-22 15:51:38

# Time Zone (UTC)

In [20]:
from datetime import datetime, timedelta, timezone

In [28]:
IST = timezone(timedelta(hours=3, minutes=0))
dt = datetime(2023, 5, 22, 15,40,30, tzinfo=IST)
print(dt)

2023-05-22 15:40:30+03:00

In [33]:
dt2 = datetime(2023, 5, 22, 15, 40, 10)
print(dt2.astimezone(IST))

2023-05-22 15:40:10+03:00

In [35]:
dt2.replace(tzinfo=timezone.utc)

datetime.datetime(2023, 5, 22, 15, 40, 10, tzinfo=datetime.timezone.utc)

In [39]:
from dateutil import tz
london = tz.gettz("Europe/London")
print(london)

tzfile('/usr/share/zoneinfo/Europe/London')

# Reading Date and Time series data in PANDAS

In [40]:
import pandas as pd

In [47]:
df = pd.read_csv("/home/umut/python_calismalar/accidents_2009_to_2011.csv")
df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Year
0,200901BS70001,524910,180800,-0.201349,51.512273,1,2,2,1,01/01/2009,...,No physical crossing within 50 meters,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,E01002882,2009
1,200901BS70002,525050,181040,-0.199248,51.514399,1,2,2,11,05/01/2009,...,Zebra crossing,Daylight: Street light present,Fine without high winds,Wet/Damp,None,None,1,Yes,E01002886,2009
2,200901BS70003,526490,177990,-0.179599,51.486668,1,3,2,1,04/01/2009,...,No physical crossing within 50 meters,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,E01002912,2009
3,200901BS70004,524800,180300,-0.203110,51.507804,1,2,2,1,05/01/2009,...,Pedestrian phase at traffic signal junction,Daylight: Street light present,Other,Frost/Ice,None,None,1,Yes,E01002871,2009
4,200901BS70005,526930,177490,-0.173445,51.482076,1,2,2,1,06/01/2009,...,No physical crossing within 50 meters,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002840,2009

In [50]:
print(df["Time"].head())
print(df["Date"].head())

0    15:11
1    10:59
2    14:19
3    08:10
4    17:25
Name: Time, dtype: object
0    01/01/2009
1    05/01/2009
2    04/01/2009
3    05/01/2009
4    06/01/2009
Name: Date, dtype: object

## Veriyi çekerken veri tipini zamana çevirmek.

In [57]:
# Veriyi çekerken direkt olarak datetime'a çevirir.
df = pd.read_csv("/home/umut/python_calismalar/accidents_2009_to_2011.csv", parse_dates=["Date"])
df["Date"].head()

/tmp/ipykernel_39208/3209795427.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df = pd.read_csv("/home/umut/python_calismalar/accidents_2009_to_2011.csv", parse_dates=["Date"])

0   2009-01-01
1   2009-05-01
2   2009-04-01
3   2009-05-01
4   2009-06-01
Name: Date, dtype: datetime64[ns]

## Veriyi çektikten sonra veri tipini manuel olarak zamana çevirmek.

In [79]:
# Manuel olarak Date ve Time sütunlarını birleştirip veri tipini değiştirdim.
df = pd.read_csv("/home/umut/python_calismalar/accidents_2009_to_2011.csv")
df["DateTime"] = df["Date"] +" "+ df["Time"]
df["DateTime"].head()

df["DateTime"] = pd.to_datetime(df["DateTime"])
df["DateTime"].head()

0   2009-01-01 15:11:00
1   2009-05-01 10:59:00
2   2009-04-01 14:19:00
3   2009-05-01 08:10:00
4   2009-06-01 17:25:00
Name: DateTime, dtype: datetime64[ns]

## Datetime veri tipi üzerinde işlemler

In [80]:
df["DateTime"].mean()

Timestamp('2010-06-24 03:33:07.806819072')